<%- include('header_and_footer/header') -%>

<div id="back">
    <form action="/" method="get">
        <button type="submit">JOIN OR CREATE GROUP</button>
    </form>
</div>

<div id="main">
    <div id="calander">
        <div id="description_and_users">
            <div id="img_and_name">
                <div id="img_div">
                    <img src="User Profile.jpg" alt="">
                </div>
                <p><%= data.groupTitle %></p>
            </div>
            <div id="Title">
                <h1 id="title"><%= data.groupTitle %> || <%= data.groupId %> </h1>
            </div>
            <div id="description">
                <p>this is a description part where it shows who setted in and who is left</p>
            </div>
            
            <form action="/busydays" id="app_form" method="post">
                <input type="hidden" name="dates" id="grab" required>
                <button type="submit" id="btn">SET</button>
            </form>
            <div id="crues_status">
                <!-- <%= data.memebers %> -->
                <% for(let memeber of data.memebers) { %>
                    <div id="memeber">
                        <div id="profile_img">
                            <h3 id="memeber_firstName">
                                <%=memeber.fullname[0]%>
                            </h3>
                        </div>
                        <p id="profile_name"> <%= memeber.fullname %> </p>
                    </div>
                <% } %>
                <!-- here it goes the crues img and if finished or not -->
            </div>
        </div>
        <div id="date_and_calander">
            
        </div>
    </div>
</div>

<%- include('common/logout') -%>
<!-- Main Js File Which Runs the App -->
<script src="../main.js"></script>

<%- include('header_and_footer/footer') -%> 